<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Lashes By Janet</title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Shrikhand" rel="stylesheet">
  <link rel="icon" href="./img/eyelashes.png">
	<link rel="stylesheet" href="./css/main.css">
  <link rel="stylesheet" href="./css/nav.css">
  <link rel="stylesheet" href="./css/contact.css">
  <link rel="stylesheet" href="./css/normalize.css">
</head>
<body>
<% include header.ejs %>

<div class="wrapper">
<% include nav2.ejs %>
<div class="contact">
      <h1>Contact</h1>
      <h2> Address</h2>
      <address>
        861 Montauk Highway
        Bayport, NY
      </address>

      <div class="phone">
        <h2> Phone </h2>
       <h3> 631.793.0872</h3>
      </div>

      <div class="email">  
        <h2>Send Me An Email</h2>
        <h3>jrdibar@yahoo.com</h3>
      </div>

      <h2> Call or Email to schedule an appointment to get your perfect lashes!</h2>

      <a href="https://www.instagram.com/eyelashextensionsbyjanet/"><img class="contact-image" src="./img/fb-blue.png"></a>

      <a href="https://www.facebook.com/Lashbyjanetrose/"><img class="contact-image" src="./img/insta.png"></a>

      </div>
</div>

<% include footer.ejs %>
</body>
<script src="./js/main.js"></script>  
</html>
