<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Lashes By Janet</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Shrikhand" rel="stylesheet">
	<link rel="stylesheet" href="./css/main.css">
  <link rel="stylesheet" href="./css/faq.css">
  <link rel="stylesheet" href="./css/nav.css">
  <link rel="stylesheet" href="./css/normalize.css">
</head>
<body>
  <!-- make logo link -->
<% include header.ejs %>

<div class="wrapper">
<% include nav.ejs %>
  <div class="faq">
  <h1 class="faq"> Frequently Asked Questions</h1>
  <ul>
    <li>
      <h3> What are eyelash extensions?</h3>
      <p>
        Lash Extensions are semi-permanent synthetic, mink or silk fibers which are applied strand to strand of your natural lashes. When applied, eyelash extensions lengthen and thicken your own natural eyelashes. With proper application, lash extensions look and feel completely natural. Lash extension enhance your natural eye and can create the illusion of a different shaped eye.
      </p>
    </li>

    <li>
      <h3> How long do Eyelash Extensions take to apply?</h3>
      <p>
        A full set application will depend on the volume being applied. On average a full set will take 1.5-2 hours to complete.
      </p>
    </li>

    <li>
      <h3> Does the application of eyelash extensions hurt?</h3>
      <p> 
        Eyelash Extension application should not hurt. Some may experience a bit of stinging from the adhesive however this is easily adjusted by making sure your eyes are completely closed or by switching to a sensitive formula. Pharmaceutical grade adhesive is used which never comes in contact with your skin. Synthetic eyelashes are adhered about 1mm away from your skin. </p>
    </li>
    <li>
      <h3> What will they look like when they are done?</h3>
      <p> 
        Envious lashes will be seamless and appear as if they are growing from your natural lash line. The effect is as though you are wearing great mascara without the need for actual mascara. Custom styling and shaping will be determined upon consultation. </p>
    </li>
    <li>
      <h3> How long will my eyelash extensions last?</h3>
      <p>
        It is recommended to get a touch up (refill) on your lashes every 2-3 weeks. If you wait longer than 3 weeks you will need a full set of eyelashes again. Your natural eyelashes fall off every 45-60 days due to the natural growth cycle and are naturally replaced with the growth of a new eyelash. Other factors that contribute to the loss of your lashes are exposure to steam, sweat, oil based makeup, and touching your eyes a lot.
      </p>
    </li>
    <li>
      <h3>How do I care for Eyelash extensions after application?</h3>
      <ul class="answer list">
        <li>Do not get lashes wet for the first 24-48 hours. The adhesive is still drying.</li>
        <li>Avoid hot steam or sauna</li>
        <li>For longer lasting lashes, limit the use of running water directly on your lashes</li>
        <li>Avoid rubbing your eyes excessively</li>
        <li>Use water based eye makeup remover</li>
        <li>Do not perm your lashes or use mascara </li>
        <li>Do not use a mechanical eyelash curler</li>
        <li>Do not pull on your lashes</li>
        <li>Keep your eyelashes clean and free from makeup buildup </li>
      </ul>
    </li>
    <li>
      <h3>I wear contacts. Can I still get Eyelash Extensions?</h3>
      <p>
        Yes! Since lash extensions do not touch your skin, they do not conflict or interfere with your contacts or normal daily activities.
      </p>
    </li>
    <li>
      <h3> Can I take the eyelash extensions off?</h3>
      <p>
        Lash extensions are easily removed when done by a professional. A solvent is applied to your eyes which break down the adhesive bond causing the extensions to slip off. DO NOT attempt to remove extensions on your home, you will damage your natural lashes.
      </p>
    </li>
    <li>
      <h3>Do I have to do aything to prepare for my appointment?</h3>
      <p>
        You should thoroughly clean your lashes with a mild cleanser. Do not use oily makeup remover to clean your lashes prior to the application. Lashes should not be curled and all mascara should be removed.
      </p>
    </li>
  </ul>
    <h4 class="contact">Please feel free to contact me if you have any other questions or concerns regarding Eyelash Extensions.</h4>
  </div>
</div>


<% include footer.ejs %>
</body>
<script src="./js/main.js"></script>  
<script src="./js/masonry.pkgd.min.js"></script>
</html>
