<footer class ="footer">
<div class="footer">
<h3>Ready to get perfect lashes?</h3>

<a href="https://www.instagram.com/eyelashextensionsbyjanet/"><img class="footer-social" src="./img/fb-white.png"></a>

<a href="https://www.facebook.com/Lashbyjanetrose/"><img class="footer-social" src="./img/insta.png"></a>  

 <h5>© Lashes By Janet </h5>
 </div>
</footer>