<footer class ="footer">
Ready to get perfect lashes?
Get in touch <a href="/contact"> here</a>

Have More Questions? 
Check out the <a href="/faq"> faq </a>

  <a href="https://www.instagram.com/eyelashextensionsbyjanet/"><img src="./img/fb-blue.png"></a>

  <a href="https://www.facebook.com/Lashbyjanetrose/"><img src="./img/insta.png"></a>  
</footer>