<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Lashes By Janet</title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Shrikhand" rel="stylesheet">
	<link rel="icon" href="./img/eyelashes.png">
    <link rel="stylesheet" href="./css/main.css">
	<link rel="stylesheet" href="./css/normalize.css">
</head>
<body class="site">

<header>
<% include header.ejs %>
<% include nav2.ejs %>
</header>


<main class="site-content">
<div id="gallery">
<div class="item">
	<img class="galleryImg" src="./img/5.png"/>
</div>

<div class="item">
	<img class="galleryImg" src="./img/10.png"/>
</div>

<div class="item">
	<img class="galleryImg" src="./img/11.png"/>
</div>

<div class="item">
	<img class="galleryImg" src="./img/12.png"/>
</div>

<div class="item">
	<img class="galleryImg" src="./img/1.jpg"/>
</div>

<div class="item">
	<img class="galleryImg" src="./img/14.png"/>
</div>


<div class="item">
<img class="galleryImg" src="./img/2.jpg"/>
</div>

<div class="item">
	<img class="galleryImg" src="./img/7.png"/>
</div>

<div class="item">
	<img class="galleryImg" src="./img/8.png"/>
</div>

<div class="item">
	<img class="galleryImg" src="./img/3.jpg"/>
</div>

<div class="item">
	<img class="galleryImg" src="./img/9.png"/>
</div>

<div class="item">
	<img class="galleryImg" src="./img/4.jpg"/>
</div>

<div class="item">
	<img class="galleryImg" src="./img/13.png"/>
</div>

<div class="item">
	<img class="galleryImg" src="./img/6.png"/>
</div>

</div>
</main>

<% include footer.ejs %>
</body>
<script src="./js/jquery-2.1.4.js"></script>	
<script src="./js/masonry.pkgd.min.js"></script>
<script src="./js/main.js"></script>  
</html>
