<nav>
  <ul class="flex nav" id="navigation">
    <li id="icon" class="icon">
      <a href="javascript:void(0);" onclick="toggleMenu()">&#9776;</a>
    </li>
    <li><div class="box nav-div"><a href="/about"><div class="caption"><h3 class="link-title"> About </h3></div><img class="box-image" src="./img/1.jpg"></a></div></li>
    <li><div class="box nav-div">
    	<a href="/faq">
    	   	<div class="caption">
    	   		<h3 class="link-title"> FAQ </h3>
    	   	</div>
    		<img class="box-image" src="./img/2.jpg">
    	</a>
    </div></li>
    <li><div class="box nav-div">
    	<a href="/pricing">
    		<div class="caption">
    			<h3 class="link-title"> Pricing</h3>
    		</div>
    		<img class="box-image" src="./img/3.jpg">
    	</a>
    </div></li>
    <li><div class="box nav-div">
    	<a href="/contact">
       		<div class="caption">
       			<h3 class="link-title"> Contact</h3>
       		</div>
    		<img class="box-image" src="./img/4.jpg">
    	</a>
    </div></li>
  </ul>
</nav>
 