<nav>
  <ul class="flex nav" id="navigation">
    <li id="icon" class="icon">
      <a href="javascript:void(0);" onclick="toggleMenu()">&#9776;</a>
    </li>
    <li><div class="box nav-div"><a href="/about"><img class="box-image" src="./img/1.jpg"><h3 class="link-title"> About </h3></a></div></li>
    <li><div class="box nav-div"><a href="/faq"><img class="box-image" src="./img/2.jpg"><h3 class="link-title"> FAQ </h3></a></div></li>
    <li><div class="box nav-div"><a href="/pricing"><img class="box-image" src="./img/3.jpg"><h3 class="link-title"> Pricing</h3></a></div></li>
    <li><div class="box nav-div"><a href="/contact"><img class="box-image" src="./img/4.jpg"><h3 class="link-title"> Contact</h3></a></div></li>
  </ul>
</nav>
 