<div class="wrapper">
<nav class="flex">
  <ul class="nav" id="navigation">
      <li class="icon">
      <a href="javascript:void(0);" onclick="toggleMenu()">&#9776;</a>
    </li>
    <li><a href="/about"><div id="nav-1" class="nav-div"><h3 class="link-title"> About </h3></div></a></li>
    <li><a href="/faq"><div id="nav-2" class="nav-div"> <h3 class="link-title"> FAQ </h3></div></a></li>
    <li><a href="/pricing"><div id="nav-3" class="nav-div"><h3 class="link-title"> Pricing</h3></div></a></li>
    <li><a href="/contact"><div id="nav-4" class="nav-div"><h3 class="link-title"> Contact</h3></div></a></li>

  </ul>
</nav>
</div>