<div class="nav-container">
	<div class="box">
		<img class="box-image" src="./img/1.jpg">
	</div>
	<div class="box">
		<img class="box-image" src="./img/2.jpg">
	</div>
	<div class="box">
		<img class="box-image" src="./img/3.jpg">
	</div>
	<div class="box">
		<img class="box-image" src="./img/4.jpg">
	</div>
</div>