<nav> 
  <ul class="flex nav" id="navigation">
    <li id="icon" class="icon">
      <a href="javascript:void(0);" onclick="toggleMenu()">&#9776;</a>
    </li>
    <li>
    	<a href="/about"><h3 class=""> About</h3></a>
    </li>
    <li>
    	<a href="/faq"><h3 class="">FAQ</h3></a>
    </li>
    <li>
    	<a href="/pricing"><h3 class="">Pricing</h3></a>
    </li>
    <li>
    	<a href="/contact"><h3 class=""> Contact</h3></a>
    </li>
</ul>

</nav> 