div.about{
	background-color: #d4d4d4;
	text-align: center;
	margin: 5%;
	margin-left: 10%;
	padding-right: 5%;
	padding-bottom: 5%;
	margin-bottom: 20%;
	box-shadow: 0 4px 3px #6e6e6e;
	text-align: left;
}

h2.about{
  text-align: center;
  margin-top: 5%;
  padding-top: 5%;
}


@media only screen
  and (min-device-width: 200px)
  and (max-device-width: 667px){
  	img.mobileLogo{
  		width: 50%;
  		margin-top: 20%;
  	}

  	div.about{
  	  background-color: #d4d4d4;
	  padding-right: 5%;
	  padding-bottom: 5%;
	  box-shadow: 0 4px 3px #6e6e6e;
	  text-align: left;
  	}
 }