div.about{
	background-color: #d4d4d4;
	margin: 10%;
	box-shadow: 0 4px 3px #6e6e6e;
	text-align: left;
	display: flex;
	justify-content: center;
}

div.about-me{
	text-align: center;
	margin: 5%;
}

div.about-me > p{
	font-size: 1.01em;
}

img.about-image{
	width: 40%;
	height: 40%;
	margin: 2%;
}


@media only screen
  and (min-device-width: 200px)
  and (max-device-width: 667px){
  	img.mobileLogo{
  		width: 50%;
  		margin-top: 20%;
  	}

  	div.about{
  	  background-color: #d4d4d4;
	  padding-right: 5%;
	  padding-bottom: 5%;
	  box-shadow: 0 4px 3px #6e6e6e;
	  text-align: left;
  	}
 }