.flex ul{
  -webkit-box-flex: auto;
  -ms-flex: auto;
  list-style: none;
  flex: auto;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 4%;
  margin-bottom: 10%;
  margin-top: 7%;
}

.flex li {
  flex: 1;
}


.nav-div{
  cursor: pointer;
  position: relative;
  background-size: cover;
  width: 250px;
  height: 250px;
  margin: 5px 0 0 10px;
  -webkit-filter: grayscale(10%);
}


@media only screen
  and (min-device-width: 200px)
  and (max-device-width: 500px){

  .nav-div{
    width: 300px;
    height: 300px;
  }

  .flex ul{
    margin-right: 0%;
  }

  }