* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

ul.flex{
  list-style: none;
  width: 100%;
  border-bottom-style: dotted;
  border-bottom-color: #ED3E75;
  margin: 0;
  text-align: center;
}

ul.flex > li{
  display: inline-block;
  width: 15%;
  margin-left: auto;
  margin-right: auto;
}


li > a{
  text-decoration: none;
}

li#icon{
  display: none;
}

#nav a{
  display: block;
}

/*ul.flex{
  display: inline-block;
  display: flex;
  flex-wrap: wrap;
  height: 70vh;
  list-style: none;
  margin-left: 13%;
}*/

/*.box{
  color: white;
  font-size: 30px;
  text-align: center;
}

.box-image{
  width: 100%;
}


.box{
  width: 30vw;
  margin: 2vw;
}
*/

/*@media only screen
  and (min-device-width: 200px)
  and (max-device-width: 500px){
  ul.flex{
    height: 45vh;
  }

  .nav-div{
    width: 300px;
    height: 300px;
  }

  .flex ul{
    margin-right: 0%;
  }

  h3.link-title{
   visibility: visible;
   opacity: 1;
   margin-left: 25%;
   margin-top: 50%;
  }

  .caption{
    width: 20%;
  }

  }

    @media only screen
  and (min-device-width: 200px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape){
     h3.link-title{
       visibility: visible;
       opacity: 1;
       margin-left: -30%; 
       margin-top: 30%;
      }

      .caption{
      width: 40%;
      height: ;
    }
    
  }*/


  /*start gallery CSS*/
  /*center gallery div to equal margins on both sides */


  .item{
    width: 200px;
    float: left;
    /*margin: 2px;*/
  }

  .galleryImg{
    width: 100%;
    display: inline-block;
  }