/*pink = #ED3E75
black = #383838
white = #f7f7f7
dark grey = #6e6e6e
light grey = #d4d4d4*/

body{
	background-color: #F7F7F7
	color: #383838;
	font-family: 'Open Sans', sans-serif;
}

header{
  width: 100%;
  text-align: center;
  border-bottom-style: dotted;
  border-bottom-color: #ED3E75;
}

.logo{
	width: 50%;
  height: 50%;
  display: inline-block;
  margin: 0 auto;
}

h3.link-title{
 color: #ED3E75;
 position: absolute; 
 text-align: center;
 top: 30%;
 left: 30%;
 visibility: hidden;
 opacity: 0;
 font-weight: bold;
 font-size: 2em;
 font-family: "Shrikhand";
 z-index: 100;
}

#nav-1{
 background-image: url('../img/1.jpg');

}
#nav-2{
  background-image: url('../img/2.jpg');

}
#nav-3{
  background-image: url('../img/3.jpg');  
}
#nav-4{
   background-image: url('../img/4.jpg');
}

.nav-div:hover .link-title{
  visibility: visible;
  opacity: 1;
}

ul.nav li.icon a{
  display: none;
}

.mobileLogo{
  display: none;
}


/*make footer sticky to bottom*/
.footer{
  display: flex;
  align-items: flex-end;
  background-color: #ED3E75;
  text-align: center;
  position: relative;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
}

.footer a {
  font-family: "Shrikhand";
  text-align: center;
}

/*.nav-div:hover{
  -webkit-filter: grayscale(100%);
  border-style: dotted; 
  border-color: #ED3E75;
}*/

/*a h1.heading:hover{
	text-decoration: none;
}*/

@media only screen
  and (min-width: 904px)
  and (max-width: 1069px) {

  }

@media only screen
and (min-width: 777px)
and (max-width: 903px) {}



@media only screen
and (min-width: 668px)
and (max-width: 776px){
  ul.nav div.nav-div{
    display: none;
  }

  ul.nav li.icon a{
    float: right;
    display: inline-block;
    color: black;
  }
}


/*turn this into a scroll for the iphone*/
/*make nav into hamburger menu*/
/*for iphone portrait*/
@media only screen
  and (min-device-width: 200px)
  and (max-device-width: 667px){

    body{
      width: 100vw;
      height: 100vh;
    }

  .logo{
    display: none;
  }

  .mobileLogo{
    display: inline-block;
    width: 90%;
    display: inline-block;
    margin: 0 auto;
    margin-top: 35%;
  }

 ul.nav li.icon a{
    float: center;
    display: inline-block;
    color: #ED3E75;
    text-decoration: none;
    text-align: center;
    font-size: 6em;
    margin-left: 42.5vw;
    cursor: pointer;
  }  

  header{
  width: 100%;
  text-align: center;
  border-style: none;
}


  ul.nav.responsive li.icon{
    display: inline-block;
    position: absolute;
    right: 0;
    left: 0;
    color: #ED3E75;

  }  

  ul.nav div.nav-div{
    display: none;
  }

  ul.nav.responsive{
   position: relative;
  }

  ul.nav.responsive li{
    float: none;
    display: inline;
  }

  ul.nav.responsive li a{
    display: block;
    text-align: left;
    }

  }


