.grid{
  margin-left: 10%;
  margin-top: 5%;
  padding-bottom: 20%;
}

.grid-item{
  float:left;
}

.grid-width{
  width: 22%;
  height: 100%
}

.grid-height{
  width: 22%;
}

nav a{
  float: left
}

nav a:hover{
  color: red;
}
